* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box; 
}

body {
    background-color: #333;
}

.box {
    height: 300px;
    width: 300px;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    top: 10%;
    transition-duration: 2s;
    transition-property: all;
}

.box:hover {
    background-color: red;
    border-radius:  50%;
    transform: rotateY(180deg);
    /*transform: scale(0.5);*/
    
    
}

